.btn {
  min-height: 65px;
  padding: 10px;
  border: 1px solid #020604;
  font-size: 0.9em;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: inset -1px -1px 0 1px #020604;
  color: #020604;
}