* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'monospace';
  background: #fff;
  font-size: 14px;
  line-height: 21px;
}

a, button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Input type number styling*/

#setlimit-field,
#setexpense-field {
  -moz-appearance: textfield;
}

#setexpense-value-field::-webkit-inner-spin-button,
#setlimit-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#setexpense-value-field::-webkit-outer-spin-button,
#setlimit-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// Misc

.negative-balance {
  box-shadow: inset -1px 1px 0 -1px #ff3c3c;
  animation-name: shadow-lift-up;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.error-message-open,
.regular-message-open {
  opacity: 1;
  box-shadow: inset -1px -3px 0 -1px #020604;
  transition: all .3s ease;
}

.error-message-open {
  box-shadow: inset -1px -3px 0 -1px #ff3c3c;
  animation-name: fade-out;
  animation-delay: 1.5s;
  animation-duration: 5.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.blinking-cursor {
  font-size: 14px;
  -webkit-animation: blink-animation .9s infinite;
  -o-animation: blink-animation .9s infinite;
  animation: blink-animation .9s infinite;
  background: #020604;
}

.pop-up-visible .pop-up {
  display: flex;
  opacity: 1;
}

// Controls in process (countdown is on)

.in-process-btn {
  opacity: .2;
}

.in-process .init-load-btn {
  opacity: .2;
}

.in-process .in-process-btn {
  opacity: 1;
}

.in-process .limit__field {
  font-size: 24px;
}

// Animations

@keyframes blink-animation {
  0%, 100%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shadow-lift-up {
  0% {
    box-shadow: inset -1px 1px 0 -1px #ff3c3c;
  }
  30% {
    box-shadow: inset -1px 1px 0 -1px #ff3c3c;
  }
  100% {
    box-shadow: inset -1px -4px 0 -2px #ff3c3c;
  }
}
