* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'monospace';
  background: #fff;
  font-size: 14px;
}

/*Input type number styling*/

#setlimit-field,
#setexpense-field {
  -moz-appearance: textfield;
}

#setexpense-value-field::-webkit-inner-spin-button,
#setlimit-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#setexpense-value-field::-webkit-outer-spin-button,
#setlimit-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// Misc

.negative-balance {
  box-shadow: inset -1px -3px 0 -1px #ff3c3c;
}

.error-message-open,
.regular-message-open {
  opacity: 1;
  box-shadow: inset -1px -3px 0 -1px #020604;
  transition: all .3s ease;
}

.error-message-open {
  box-shadow: inset -1px -3px 0 -1px #ff3c3c;
}

.blinking-cursor {
  font-size: 1em;
  -webkit-animation: blink-animation .9s infinite;
  -o-animation: blink-animation .9s infinite;
  animation: blink-animation .9s infinite;
  background: #020604;
}

// Controls in process (countdown is on)

.in-process-btn {
  opacity: .3;
}

.in-process .init-load-btn {
  opacity: .3;
}

.in-process .in-process-btn {
  opacity: 1;
}

.in-process .limit__field {
  font-size: 1.25em;
}

// Animations

@keyframes blink-animation {
  0%, 100%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
