.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% auto;
  padding: 0;
  & .inactive {
  	opacity: .3;
  }
  & button {
  	width: 49%;
  	&.full-width {
  		width: 100%;
  		margin-top: 10px;
  	}
	}
}