.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 0;
  & button {
  	width: 49%;
    margin-bottom: 8px;
  	&.full-width {
  		width: 100%;
      margin-bottom: 0;
  	}
	}
}
