.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px auto;
  padding: 0;
  & button {
  	width: 49%;
    margin-bottom: 8px;
  	&.full-width {
  		width: 100%;
  	}
	}
}
