.container {
	width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  &--header {
		display: flex;
	  justify-content: space-between;
	  color: #020604;
  }
  &--main {
  	padding-top: 0;
  	padding-bottom: 0;
  }
  &--footer {
  	padding: 0;
  }
}