.limit {
	width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  &__field {
  	width: 100%;
	  min-height: 50px;
	  font-size: 14px;
	  text-align: center;
	  border: none;
    font-family: $base-monospace, serif;
    background: transparent;
  }
}
