.main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  @include mobile-and-beyond {
    align-items: flex-start;
    padding-top: 30px;
  } 
}