* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 480px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'monospace';
  background: #fff;
  font-size: 14px;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.btn-common {
  min-height: 65px;
  padding: 10px;
  border: 1px solid #020604;
  font-size: 0.85em;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: inset -1px -1px 0 1px #020604;
  color: #020604;
}

.header-container {
  display: flex;
  justify-content: space-between;
  color: #020604;
}
.main-heading {
  width: 50%;
  margin: 0;
  font-size: 1em;
}
.countdown-block {
  display: none;
  padding: 0;
  text-align: right;
}

/*Content*/

.main {
  flex: 1;
  position: relative;
}
.main-container {
  padding-top: 0;
  padding-bottom: 0;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.limit-block {
  width: 100%;
  margin: 5% auto;
  text-align: center;
}
.limit-block input[type="text"] {
  width: 100%;
  min-height: 50px;
  font-size: 0.85em;
  text-align: center;
  border: none;
}
.controls {
  margin: 5% auto;
}
.controls button {
  width: 49%;
}
#limit-subtract-btn {
  width: 100%;
  margin-top: 10px;
}
.controls .inactive {
  opacity: .3;
}
.negative-balance {
  box-shadow: inset -1px -3px 0 -1px #ff3c3c;
}

@keyframes blink-animation {
  0%, 100%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.adviser {
  width: 100%;
  margin: 0 auto;
  font-size: 0.85em;
  text-align: left;
}

#adviser-content-wrapper {
  padding: 0;
  padding-bottom: 10px;
}

.error-message-open,
.regular-message-open {
  opacity: 1;
  box-shadow: inset -1px -3px 0 -1px #020604;
  transition: all .3s ease;
}

.error-message-open {
  box-shadow: inset -1px -3px 0 -1px #ff3c3c;
}

.adviser .blinking-cursor {
  font-size: 1em;
  -webkit-animation: blink-animation .9s infinite;
  -o-animation: blink-animation .9s infinite;
  animation: blink-animation .9s infinite;
  background: #020604;
}

.expense-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.expense-list li {
  position: relative;
  padding: 5px 10px;
  font-size: 1em;
  color: #020604;
  border-bottom: 1px solid #020604;
}

.footer-container {
  padding: 0;
}
footer .additional-info {
  font-size: 0.65em;
  padding: 20px;
  margin: 0;
    text-align: center;
  color: #020604;
}

/*Pop-ups*/

.pop-up {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #020604;
  background: rgba(2, 6, 4, .9);
  z-index: 100;
  color: #ffffff;
  text-align: center;
}

#end-pop-up {
  display: none;
  z-index: 1000;
}

#setlimit-pop-up {
  display: none;
}

#rest-confirm-pop-up {
  display: none;
}

#setexpense-pop-up {
  display: none;
}

.text-block {
  min-width: 280px;
  padding: 20px;
}

.text-block p {
  margin-top: 0;
  margin-bottom: 20px;
}

.pop-up-controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pop-up-controls button {
  display: block;
  width: 49%;
  min-width: 100px;
  min-height: 45px;
  margin: 0 auto;
}

.setlimit-field,
.setexpense-field {
  width: 100%;
  min-height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  text-align: center;
}

.setlimit-value-block,
.setexpense-value-block,
.setexpense-name-block,
.deadline-range-block,
.deadline-range-results {
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  margin: 20px auto;
  padding: 0;
  background: #ffffff;
  color: #020604;
}

.deadline-range-block {
  background: none;
}

.deadline-range-output {
  margin: 0;
}
