.pop-up {
  width: 100%;
  height: 100%;
  // height = 100% - (header height + footer height)
  min-height: calc(100vh - 122px);
  padding: 20px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #020604;
  background: rgba(2, 6, 4, .9);
  z-index: 100;
  color: #ffffff;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  &__wrapper {
  	min-width: 280px;
  	padding: 20px;
  }
  &__p {
  	margin-top: 0;
  	margin-bottom: 20px;
  }
  &__controls {
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	& button {
  		display: block;
		width: 49%;
		min-width: 100px;
		min-height: 45px;
		margin: 0 auto;
  	}
  }
  &__field {
	  width: 100%;
	  min-height: 40px;
	  padding: 0 20px;
	  border: none;
	  outline: none;
	  text-align: center;
  }
  &__field-wrapper {
		width: 100%;
		min-height: 40px;
		line-height: 40px;
		margin: 20px auto;
		padding: 0;
		background: #ffffff;
		color: #020604;
  }
}